{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SKIMO | Welcome</title>
    <link rel="stylesheet" href="{% static 'skills/css/foundation.min.css' %}" />
    <link rel="stylesheet" href="{% static 'skills/css/skills.css' %}" />
    {% block css %}
    {% endblock %}
    <script src="{% static 'skills/js/vendor/modernizr.js' %}"></script>
  </head>
  <body>

    <nav class="top-bar foundation-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
         <span data-tooltip class="has-tip" title="Try resizing your browser to see how the grid stacks"><h1 class="show-for-small-only"><a href="#">Small screen</a></h1></span>
         <span data-tooltip class="has-tip" title="Try resizing your browser to see how the grid stacks"><h1 class="show-for-medium-only"><a href="#">Medium Screen</a></h1></span>
         <span data-tooltip class="has-tip" title="Try resizing your browser to see how the grid stacks"><h1 class="show-for-large-only"><a href="#">Large screen</a></h1></span>
        </li>
      </ul>
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li><a  href="{% url 'skills:roles' %}">Roles</a></li>
          <li><a  href="{% url 'skills:index' %}">Home</a></li>
        </ul>
      </section>
    </nav>

    {% block main_contents %}
    {% endblock %}

    <script src="{% static 'skills/js/vendor/jquery.js' %}"></script>
    <script src="{% static 'skills/js/foundation.min.js' %}"></script>
    <script src="{% static 'skills/js/foundation/foundation.topbar.js' %}"></script>
    <script>
      $(document).foundation();
    </script>
    {% block end_js %}
    {% endblock %}
  </body>
</html>