{% extends "skills/base.html" %}
{% block main_contents %}
<div class="row">
    <div class="small-6 small-centered columns">
        <h1>Delete</h1>
    </div>
</div>

<div class="row">
    <div class="small-6 small-centered columns">
        <form method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete <em>{{ object }}</em>?</p>
            <input type="submit" value="Confirm" class="button small alert"/>
            <input type="button" value="Cancel" class="button small" onClick="history.go(-1);return true;" />
        </form>
    </div>
</div>
{% endblock %}
