{% extends "skills/base.html" %}
{% block main_contents %}

{% include 'skills/snippets/save_form.html' with entity_name="Role" form=form %}

{% if role %}
    <div class="row">
        <div class="small-12 columns">
            <h1>Role seniorities</h1>
            <table>
              <tbody>
                {% for sen in page_obj %}
                <tr>
                    <td><a href="{% url 'skills:seniority_update' pk=sen.pk %}">{{ sen.name }}</td>
                    <td><a class="right" title="Delete" href="{% url 'skills:seniority_delete' pk=sen.pk %}">
                        <span class="round alert label">&times;</span></a>
                    </td>
                </tr>

                {% empty %}
                    <tr>No related seniorities.</tr>
                {% endfor %}
              </tbody>
            </table>
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
            <a href="{% url 'skills:seniority_add' %}" class="small button success">Add A Seniority</a>
        </div>
    </div>
{% endif %}

{% endblock %}
