{% extends "skills/base.html" %}
{% block main_contents %}

    <div class="row">
        <div class="small-12">
          <div class="row">
            <div class="small-12 columns">

              <form action="" method="post">
                {% csrf_token %}

                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}

                {{ form.non_field_errors }}
                {% for field in form.visible_fields %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                {% endfor %}
                <button type="submit" class="button success">Save</button>
                <a type="cancel" class="button" onClick="history.go(-1);return true;">Cancel</a>
              </form>
            </div>
          </div>
        </div>
    </div>

{% endblock %}
