{% extends "skills/base.html" %}
{% block main_contents %}

    <div class="row">
      <div class="small-12 large-6 columns">
        <div class="row ">

             <div class="panel">
                <h1>Roles</h1>
                <ul>
                {% for role in object_list %}
                    <li>{{ role }}</li>
                {% empty %}
                    <li>No roles yet.</li>
                {% endfor %}
                </ul>
            </div>

        </div>
       </div>
        <div class="small-12 large-6 columns">
          <div class="row">
            <div class="small-12 columns">

              <form action="" method="post">
                {% csrf_token %}

                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}

                {{ form.non_field_errors }}
                {% for field in form.visible_fields %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                {% endfor %}
                <a href="{% url 'skills:role_add' %}" class="button">Add Role</a>

              </form>
            </div>
          </div>
        </div>
    </div>

{% endblock %}
