{% extends "skills/base.html" %}
{% block main_contents %}

    <div class="row">
        <div class="small-12 columns">

            <h2>Role: {{ role.name }}</h2>

            <ol>
                {% for sen in page_obj %}
                    <li>{{ sen.name }}</li>
                {% endfor %}
            </ol>

            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>

        </div>
    </div>

{% endblock %}
