{% extends "skills/base.html" %}
{% block main_contents %}

    <div class="row">
        <div class="small-12">

            <h1>Skills</h1>
            <table>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Edit</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                {% for skill in object_list %}
                <tr>
                    <td>{{ skill.name }}</td>
                    <td><a href="{% url 'skills:skill_update' pk=skill.pk %}">Edit</td>
                    <td>Skills</td>
                    <td><a class="right" title="Delete" href="{% url 'skills:skill_delete' pk=skill.pk %}"><span class="round alert label">&times;</span></a></td>
                </tr>

                {% empty %}
                    <tr><td colspan="3">No skills yet.</td></tr>
                {% endfor %}
              </tbody>
            </table>

            <a href="{% url 'skills:skill_add' %}" class="button">Add SKill</a>

        </div>
    </div>

{% endblock %}
